<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.torusresearch.torusdirect">
   <application>
    <activity android:name="org.torusresearch.torusdirect.activity.StartUpActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:launchMode="singleTop">
            <intent-filter>
                 <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="torusapp"
                    android:host="io.flutter.app.FlutterApplication"
                    android:pathPattern="/*"
                    android:pathPrefix="/redirect"/>
            </intent-filter>
        </activity>
  </application>
</manifest>
